mixin main(main)

    main
        //- call services
        include services
        +service

        //- call nosprojets
        include nosprojets
        +nosprojet 

        //- call nosExperiences
        include nosexperiences
        +nosexperiences

        //- call notreequipe
        include notreequipe
        +notreequipe

        //- call temoignage
        include temoignage
        +temoignage

        //- call devis
        include devis 
        +devis