mixin nosexperiences(experiences)

    experiences
// DES ANNÉES D'EXPÉRIENCE
section.section.section-sm.bg-default
  .container
    .row.row-50.row-xl-24.justify-content-center.align-items-center.align-items-lg-start.text-left
      .col-md-6.col-lg-5.col-xl-4.text-center
        a.text-img(href='apropos.html')
          span.counter 11
      .col-sm-8.col-md-6.col-lg-5.col-xl-4
        .text-width-extra-small.offset-top-lg-24.wow.fadeInUp
          h3.title-decoration-lines-left DES ANN&Eacute;ES D&apos;EXP&Eacute;RIENCE
          p.text-gray-500
            | #{EXPERIENCES}
          a.button.button-secondary.button-pipaluk(href='apropos.html') &Agrave; PROPOS
      // Nos Partenaires
      .col-lg-6.col-xl-12.align-self-center
        .row.row-30.justify-content-center
          .col-sm-6.col-md-5.col-lg-6.col-xl-3.wow.fadeInLeft
            a.clients-classic(href='#')
              img(src='images/partenaires/clients-1-270x117.png', alt='', width='270', height='117')
          .col-sm-6.col-md-5.col-lg-6.col-xl-3.wow.fadeInLeft(data-wow-delay='.1s')
            a.clients-classic(href='#')
              img(src='images/partenaires/clients-2-270x117.png', alt='', width='270', height='117')
          .col-sm-6.col-md-5.col-lg-6.col-xl-3.wow.fadeInLeft(data-wow-delay='.2s')
            a.clients-classic(href='#')
              img(src='images/partenaires/clients-3-270x117.png', alt='', width='270', height='117')
          .col-sm-6.col-md-5.col-lg-6.col-xl-3.wow.fadeInLeft(data-wow-delay='.3s')
            a.clients-classic(href='#')
              img(src='images/partenaires/clients-4-270x117.png', alt='', width='270', height='117')
