mixin notreequipe(equipe)

    equipe
// Notre Equipe
section.section.section-sm.section-fluid.bg-default
  .container-fluid
    h3 NOTRE &Eacute;QUIPE
    .row.row-sm.row-30.justify-content-center
      .col-md-6.col-lg-5.col-xl-3.wow.fadeInRight
        // Personne 1
        article.team-classic.team-classic-lg
          a.team-classic-figure(href='#')
            img(src='images/equipe/team-1-420x424.png', alt='', width='420', height='424')
          .team-classic-caption
            h5.team-classic-name
              a(href='#') Ait Oufkir Brahim
            p.team-classic-status Founder, Senior Designer
      .col-md-6.col-lg-5.col-xl-3.wow.fadeInRight(data-wowdelay='.1s')
        // Personne 2
        article.team-classic.team-classic-lg
          a.team-classic-figure(href='#')
            img(src='images/equipe/team-2-420x424.png', alt='', width='420', height='424')
          .team-classic-caption
            h5.team-classic-name
              a(href='#') Jill Pertrova
            p.team-classic-status Agent
      .col-md-6.col-lg-5.col-xl-3.wow.fadeInRight(data-wowdelay='.2s')
        // Personne 3
        article.team-classic.team-classic-lg
          a.team-classic-figure(href='#')
            img(src='images/equipe/team-3-420x424.png', alt='', width='420', height='424')
          .team-classic-caption
            h5.team-classic-name
              a(href='#') Silka-Jean-Pidro
            p.team-classic-status Agents
      .col-md-6.col-lg-5.col-xl-3.wow.fadeInRight(data-wowdelay='.3s')
        // Personne 4
        article.team-classic.team-classic-lg
          a.team-classic-figure(href='#')
            img(src='images/equipe/team-4-420x424.png', alt='', width='420', height='424')
          .team-classic-caption
            h5.team-classic-name
              a(href='#') Jisika
            p.team-classic-status Agent
