mixin service(service)

    service
        // Nos Services de Nettoyage
section.section.section-sm.section-first.bg-default.text-center
  .container
    .row.row-30.justify-content-center
      .col-md-7.col-lg-5.col-xl-6.text-lg-left.wow.fadeInUp
        .figure-classic.figure-classic-left
          img(src='images/nosServices/index-1-513x561.png', alt='', width='513', height='561')
      .col-lg-7.col-xl-6
        .row.row-30
          .col-sm-6.wow.fadeInRight
            article.box-icon-modern.box-icon-modern-custom
              div
                h3.box-icon-modern-big-title Nos Services
                .box-icon-modern-decor
                a.button.button-md.button-default-outline-2.button-wapasha(href='#') Voir Nos Services
          .col-sm-6.wow.fadeInRight(data-wow-delay='.1s')
            article.box-icon-modern.box-icon-modern-2
              .box-icon-modern-icon.fl-bigmug-line-cropping1
              h5.box-icon-modern-title
                a(href='#') M&eacute;nage R&eacute;sidentiel
              .box-icon-modern-decor
              p.box-icon-modern-text
                | Le service d&rsquo;entretien m&eacute;nager r&eacute;gulier que vous offre
                | Roses M&eacute;nage, dans la r&eacute;gion du Grand Montr&eacute;al
          .col-sm-6.wow.fadeInRight(data-wow-delay='.2.s')
            article.box-icon-modern.box-icon-modern-2
              .box-icon-modern-icon.fl-bigmug-line-paintbrush9
              h5.box-icon-modern-title
                a(href='#') Nettoyage Commercial
              .box-icon-modern-decor
              p.box-icon-modern-text
                | Notre soci&eacute;t&eacute; d&rsquo;entretien intervient pour l&rsquo;entretien et
                | le nettoyage de tous types de locaux professionnels et
                | lieux de travail.
          .col-sm-6.wow.fadeInRight(data-wow-delay='.3s')
            article.box-icon-modern.box-icon-modern-2
              .box-icon-modern-icon.fl-bigmug-line-industrie
              h5.box-icon-modern-title
                a(href='#') Nettoyage Industriel
              .box-icon-modern-decor
              p.box-icon-modern-text
                | Le nettoyage d&rsquo;un b&acirc;timent industriel est un m&eacute;tier
                | sp&eacute;cifique qui n&eacute;cessite une certaine ma&icirc;trise de
                | l&rsquo;univers industriel.
