extends ../layout 

block content
  
  //- Animation de chargement 
  .preloader
    .preloader-body
      .cssload-container
        span
        span
        span
        span
  //- page
  .page
    //- header
    include ../partials/header
    +header


    //- Main
    include ../services/accordion
    +accordion            
        
       
    //- footer
    include ../partials/footer
    +footer