mixin accordion()

    main
    section.section.section-sm.section-fluid.bg-default.text-center
       #faq
        h3 F.A.Q
         ul
            li
                input(type='checkbox' checked)
                i
                h2 Quels sont les services d'entretien ménager offerts par Roses Ménage..?
                p Entretien ménager à fréquence régulière (1 fois à la semaine, 1 fois aux deux semaines, 1 fois par mois ...).
                p Ménage sur demande.
                p Nettoyage des appartements Airbnb.
                p Entretien ménager d'urgence.
                p Grand ménage de printemps.
                p Nettoyage des murs et plafonds.
                p Lavage des vitres et nettoyage des fenêtres.
                p Nettoyage des tapis.
                p Nettoyage des sofas, divans, matelas, meubles rembourrés, ....
                p Nettoyage de l’intérieur des électroménagers.
                p Nettoyage de l’intérieur des armoires.
                p Nettoyage après rénovations.
                p Nettoyage après fête.
                p Nettoyage après construction
                p Nettoyage après ou avant déménagement.
                p Décapage, cirage et polissage et nettoyage de plancher.
                p Nettoyage à la vapeur.
                p Nettoyage au jet d’eau sous haute pression.
            li 
                input(type='checkbox' checked)
                i
                h2 Est-ce que Roses Ménage dispose d’une assurance responsabilité?
                p Tous nos employés sont couverts par une assurance responsabilité civile. Cela vous permet d’avoir un esprit tranquille.
            li 
                input(type='checkbox' checked)
                i
                h2 Est-ce que les employés de Roses Ménage sont formés dans le domaine d’entretien ménager et grand ménage résidentiel?
                p Oui et ils ont un nombre d'années d'exéprience considérables
            li
                input(type='checkbox' checked)
                i 
                h2 Je cherche un service de ménage résidentiel, une fois par semaine. Serait-il possible de plier et repasser du linge?
                p Oui
            li 
                input(type='checkbox' checked)
                i
                h2 Est-ce que je dois être présent au moment du service?
                p À votre discrétion.
            li 
                input(type='checkbox' checked)
                i
                h2 Combien de personnes seront chez moi?
                p Deux ou trois personnes.
            li 
                input(type='checkbox' checked)
                i 
                h2 Est-ce que le personnel est régulier?
                p Oui
            li 
                input(type='checkbox' checked)
                i
                h2 Quelles sont les plages horaires de vos services?
                p Lundi au dimanche de 8h00 à 16h30.
            li 
                input(type='checkbox' checked)
                i 
                h2 Quels sont les modes de paiements acceptés?
                p Argent comptant, chèque ou virement interac.
            li 
                input(type='checkbox' checked)
                i 
                h2 Est-ce que je peux annuler une visite?
                p Oui. Vous devez vous référer à notre 
                    a(herf='#') politique d’annulation.
            
            li 
                input(type='checkbox' checked)
                i
                h2 Que se passe-t-il si le ménage se présente une journée férié?
                p Nous vous contacterons pour organiser un autre rendez-vous.
            
            
        
        