mixin boites()

    boites
// boites Nos Packages 
section.section.section-sm.section-first.bg-default.text-center
  .container
    .row.row-30.justify-content-center
      .col-lg-7.col-xl-6
        .row.row-30
          .col-sm-12.wow.fadeInRight
                h3.box-icon-modern-big-title Nos Packages
                .box-icon-modern-decor
    .row.row-30.justify-content-center
      .col-sm-12.wow.fadeInRight
        .row.row-30
          .col-sm-4.wow.fadeInRight(data-wow-delay='.1s')
            article.box-icon-modern.box-icon-modern-2
              .box-icon-modern-icon.fl-bigmug-line-cropping1
              h5.box-icon-modern-title
                a(href='#') Ménage Résidentiel Régulier
              .box-icon-modern-decor
              p.box-icon-modern-text.
                (A partir de)
              br  
              .counter-amy-number
                span.counter 70
                span.symbol $
               
            
                
          .col-sm-4.wow.fadeInRight(data-wow-delay='.2.s')
            article.box-icon-modern.box-icon-modern-2
              .box-icon-modern-icon.fl-bigmug-line-alarm31
              h5.box-icon-modern-title
                a(href='#') Ménage Occasionnel
              .box-icon-modern-decor
              p.box-icon-modern-text.
                (A partir de)
              br  
              .counter-amy-number
                span.counter 120
                span.symbol $

          .col-sm-4.wow.fadeInRight(data-wow-delay='.3s')
            article.box-icon-modern.box-icon-modern-2
              .box-icon-modern-icon.fl-bigmug-line-monitor74
              h5.box-icon-modern-title
                a(href='#') Ménage Régulier de Bureaux
              .box-icon-modern-decor
              p.box-icon-modern-text.
                (A partir de)
              br  
              .counter-amy-number
                span.counter 80
                span.symbol $